{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    [
      "styled-jsx/babel"
    ],
    [
      "transform-decorators-legacy"
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components"
        }
      }
    ]
  ]
}
